<a href="https://colab.research.google.com/github/meetAmarAtGithub/PES_MTech_Assignments/blob/master/Blockbuster.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# SMDM presentation

# import libarires
import pandas as pd
import io
from google.colab import files
from google.colab import drive

drive.mount('/content/drive/')

Mounted at /content/drive/

In [2]:
csv_path = '/content/drive/MyDrive/movies_metadata.csv'

FileNotFoundError: ignored

In [ ]:
display(df)

       adult  ... vote_count
0      False  ...     5415.0
1      False  ...     2413.0
2      False  ...       92.0
3      False  ...       34.0
4      False  ...      173.0
...      ...  ...        ...
45461  False  ...        1.0
45462  False  ...        3.0
45463  False  ...        6.0
45464  False  ...        0.0
45465  False  ...        0.0

[45466 rows x 24 columns]